<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">Tomasz Gieburowski</h1>
      <div class="about">
        <a href="#" id="profileImage"><img class="card-img-top" src="http://placehold.it/420x420" alt=""></a>
        <form (ngSubmit)="registerUser()" #f="ngForm">
          <div class="form-group">
            <!--skills editing-->
            <p>
              <b>Skills: </b>
              <ng-multiselect-dropdown  [placeholder]="'custom placeholder'"
                                        [data]="dropdownList"
                                        [(ngModel)]="selectedItems"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)"
                                        (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown>
            </p>
            <p>
            <b>Country: </b>
            <input [(ngModel)]="userInfo.country" type="text" id="country" class="fadeIn third" name="country" placeholder="Country"></p>
            <p><b>City: </b>
            </p>
            <input [(ngModel)]="userInfo.city" type="text" id="city" class="fadeIn fifth" name="city" placeholder="City">
              <div id="formFooter">
                <input type="submit" class="fadeIn sixth" value="Confirm">
                <input type="submit" [routerLinkActive]='["link-active"]' [routerLink]='["/login"]' class="fadeIn sixth" value="Back">
              </div>
          </div>


        </form>
      </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
      <p>
        Sort By:
        <button type="button" class="btn btn-link">Popularity</button>
        <button type="button" class="btn btn-link">Rating</button>
        <button type="button" class="btn btn-link">Number of author's projects</button>
        <button type="button" class="btn btn-link">Number of commands</button>
      </p>

      <button type="button" class="btn btn-primary" (click)="onAddProject()">Add project</button>

      <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/420x420" alt="">
            <div class="moreInfo">
              <h4>Project name</h4>
              <p>Author</p>
              <p>Comments</p>
              <p>Description: </p>
              <p>Date: </p>
            </div>
            <div class="projectFoot">
              <div class="views">Views:</div>
              <div class="projectLanguage">Angular</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/420x420" alt="">
            <div class="moreInfo">
              <h4>Project name</h4>
              <p>Author</p>
              <p>Comments</p>
              <p>Description: </p>
              <p>Date: </p>
            </div>
            <div class="projectFoot">
              <div class="views">Views:</div>
              <div class="projectLanguage">Angular</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/420x420" alt="">
            <div class="moreInfo">
              <h4>Project name</h4>
              <p>Author</p>
              <p>Comments</p>
              <p>Description: </p>
              <p>Date: </p>
            </div>
            <div class="projectFoot">
              <div class="views">Views:</div>
              <div class="projectLanguage">Angular</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/420x420" alt="">
            <div class="moreInfo">
              <h4>Project name</h4>
              <p>Author</p>
              <p>Comments</p>
              <p>Description: </p>
              <p>Date: </p>
            </div>
            <div class="projectFoot">
              <div class="views">Views:</div>
              <div class="projectLanguage">Angular</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/420x420" alt="">
            <div class="moreInfo">
              <h4>Project name</h4>
              <p>Author</p>
              <p>Comments</p>
              <p>Description: </p>
              <p>Date: </p>
            </div>
            <div class="projectFoot">
              <div class="views">Views:</div>
              <div class="projectLanguage">Angular</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/420x420" alt="">
            <div class="moreInfo">
              <h4>Project name</h4>
              <p>Author</p>
              <p>Comments</p>
              <p>Description: </p>
              <p>Date: </p>
            </div>
            <div class="projectFoot">
              <div class="views">Views:</div>
              <div class="projectLanguage">Angular</div>
            </div>
          </div>
        </div>

        <!-- /.row -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; PortfolYou 2020</p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
