<notifier-container></notifier-container>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <fieldset>
        <!-- Form Name -->
        <legend>Add new project</legend>

        <!-- Text input - Name -->
        <div class="form-group">
          <div class="col-form-label-lg" style="border-bottom: groove; ">
            Project name
          </div>
          <br />
          <div>
            <input required minlength="3" [(ngModel)]="newProject.name" id="projectName" ngModel name="textinput" #name="ngModel" type="text" placeholder="Project name" class="form-control input-md">
            <div class="alert alert-danger" style="margin-top: 5px;" *ngIf="name.touched && !name.valid">
              <div *ngIf="name.errors.required">Project name is required</div>
              <div *ngIf="name.errors.minlength">Project name must be minimum 3 characters</div>
            </div>
          </div>
        </div>

        <!-- Textarea - Description -->
        <div class="form-group">
          <div class="col-form-label-lg" style="border-bottom: groove; ">
            Description
          </div>
          <br />
          <div>
            <textarea class="form-control" [(ngModel)]="newProject.description" id="description" placeholder="Project description" name="textarea"></textarea>
          </div>
        </div>

        <!-- Text input - URL -->
        <div class="form-group">
          <div class="col-form-label-lg" style="border-bottom: groove;">
            Repository URL
          </div>
          <br />
          <div>
            <input required id="url" [(ngModel)]="newProject.url" name="url" type="text" ngModel #url="ngModel" placeholder="Enter link to repository..." class="form-control input-md">
            <div class="alert alert-danger" style="margin-top: 5px;" *ngIf="url.touched && !url.valid">
              <div *ngIf="url.errors.required">Repository link is required</div>
            </div>
          </div>
        </div>

        <!-- Select Multiple - Languages -->
        <div class="form-group">
          <div class="col-form-label-lg" style="border-bottom: groove; ">
            Languages
          </div>
          <br />
          <ng-multiselect-dropdown [placeholder]="'Select languages'"
                                   [data]="languagesList"
                                   [(ngModel)]="newLanguages"
                                   [settings]="dropdownSettings"
                                   (onSelect)="onItemSelect($event)"
                                   (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>

        <!-- Textarea - Tags -->
        <div class="col-form-label-lg" style="border-bottom: groove; ">
          Tags
        </div>
        <tag-input [(ngModel)]='newProject.tags'
                   [onAdding]="transform"
                   [displayBy]="'value'"
                   [maxItems]='10'
                   [editable]='true'
                   theme='minimal'
                   [validators]="validators"
                   [errorMessages]="errorMessages"
                   [separatorKeyCodes]="[32, 188]"
                   [allowDupes]="false">

        </tag-input>
        <br />

        <!-- Buttons -->
        <div class="form-group">
          <div>
            <input type="submit" style="margin-left: 3px;" (click)="addProject();" id="button1id" class="btn btn-success" value="Save project">
            <input type="submit" style="margin-left: 10px;" (click)="onCancel();" id="button2id" class="btn btn-danger" value="Cancel">
          </div>
        </div>

      </fieldset>
    </div>

    <div id="images" class="col-lg-8">
      <div class="col-lg-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
        </div>
      </div>
    </div>
  </div>

</div>
