<notifier-container></notifier-container>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <!-- Login Form -->
    <form>
      <!--Login-->
      <div class="form-group">
        <input required [(ngModel)]="loggingUser.login" type="text" id="login" ngModel class="fadeIn second" #login="ngModel" name="login" placeholder="Login">
        <div class="alert alert-danger" *ngIf="login.touched && !login.valid">
          <div *ngIf="login.errors.required">Login is required</div>
        </div>
      </div>

      <!--Password-->
      <div class="form-group">
        <input required [(ngModel)]="loggingUser.password" type="password" id="password" ngModel class="fadeIn third" #password ="ngModel" name="password" placeholder="Password">
        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors.required">Password is required</div>
        </div>
      </div>

      <input type="submit" (click)="logIn();" class="fadeIn fourth" value="Log In">

    </form>
    <!-- Footer -->
    <div id="formFooter">
      <a class="underlineHover" [routerLinkActive]='["link-active"]' [routerLink]='["/register"]'>Sign up</a> <br>
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>


