/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-notifier/styles.css";

.notifier__notification--success {
  background-color: #56baed;
  color: #FFF;
}

.notifier__notification--error {
  background-color: #D9534F;
  color: #FFF;
}

.container{
  max-width: 85%;
}
