.card h-100 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.moreInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  opacity: 0;
}

.moreInfo:hover ~ .projectFoot {
  background: none;
}

.moreInfo:hover {
  opacity: 0.4;
}

.projectFoot {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  background-color: black;
  opacity: 0.4;
  font-size: 14px;
  display: flex;
}

.views {
  color: white;
  opacity: 1.0;
}

.projectLanguage {
  color: white;
  opacity: 1.0;
  position: absolute;
  right: 0px;
}
