<div class="container" style="max-width: 1800px !important" >

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Filters</h1>
      <div class="filters">

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
          <label class="form-check-label" for="materialChecked2">Angular</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
          <label class="form-check-label" for="materialChecked2">Python</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
          <label class="form-check-label" for="materialChecked2">React</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
          <label class="form-check-label" for="materialChecked2">Java Script</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
          <label class="form-check-label" for="materialChecked2">Java</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
          <label class="form-check-label" for="materialChecked2">C++</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="materialChecked2" checked>
          <label class="form-check-label" for="materialChecked2">C#</label>
        </div>

      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <p>
        Sort By:
        <button type="button" class="btn btn-link">Popularity</button>
        <button type="button" class="btn btn-link">Rating</button>
        <button type="button" class="btn btn-link">Number of author's projects</button>
        <button type="button" class="btn btn-link">Number of commands</button>
      </p>

      <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
          </div>
        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
