<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Tabs Titles -->
    <h2 class="active"> Sign Up</h2>

    <!-- Register Form -->
    <form (ngSubmit)="registerUser()" #f="ngForm">

      <!--Login-->
      <div class="form-group">
        <input required minlength="4" maxlength="25" [(ngModel)]="newUser.login" type="text" id="login" ngModel name="login" #login="ngModel" class="fadeIn second" placeholder="Login">
        <div class="alert alert-danger" *ngIf="login.touched && !login.valid">
          <div *ngIf="login.errors.required">Login is required</div>
          <div *ngIf="login.errors.minlength">Login must be minimum 4 characters</div>
          <div *ngIf="login.errors.maxlength">Login must be maximum 25 characters</div>
        </div>
      </div>

      <!--Password-->
      <div class="form-group">
        <input required minlength="6" maxlength="25" [(ngModel)]="newUser.password" type="password" id="password" class="fadeIn third" ngModel name="password" #password="ngModel" placeholder="Password">
        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be minimum 6 characters</div>
          <div *ngIf="password.errors.maxlength">Password must be maximum 25 characters</div>
        </div>
      </div>

      <!--Repeat Password-->
      <div class="form-group">
        <input required [(ngModel)]="repeatPasswordInput" (keyup)="checkPassword()" type="password" id="repeatPassword" class="fadeIn fourth" ngModel name="repeatPassword" #repeatPassword="ngModel" placeholder="Repeat password">
        <div class="alert alert-danger" *ngIf="repeatPassword.touched && !repeatPassword.valid ">
          <div *ngIf="repeatPassword.errors.required">This field is required</div>
        </div>
        <div class="alert alert-danger" *ngIf="!passwordMatchStatus">Password does not match</div>
      </div>

      <!--Email-->
      <div class="form-group">
        <input class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required [(ngModel)]="newUser.email" type="email" id="email" class="fadeIn fifth" ngModel name="email" #email="ngModel" placeholder="Email">
        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors.required">Email address is required</div>
          <div [hidden]="!email.errors?.pattern">
            Invalid email address
          </div>
        </div>
      </div>

      <!--FirstName-->
      <div class="form-group">
        <input required minlength="3" maxlength="25" [(ngModel)]="newUser.firstName" type="text" id="firstname" class="fadeIn fifth" ngModel name="firstname" #firstname ="ngModel" placeholder="Name">
        <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">
          <div *ngIf="firstname.errors.required">Name is required</div>
          <div *ngIf="firstname.errors.minlength">Name must be minimum 4 characters</div>
          <div *ngIf="firstname.errors.maxlength">Name must be maximum 25 characters</div>
        </div>-
      </div>

      <!--Surname-->
      <div class="form-group">
        <input required minlength="3" maxlength="25" [(ngModel)]="newUser.lastName" type="text" id="surname" class="fadeIn fifth" ngModel name="surname" #surname ="ngModel" placeholder="Surname">
        <div class="alert alert-danger" *ngIf="surname.touched && !surname.valid">
          <div *ngIf="surname.errors.required">Surname is required</div>
          <div *ngIf="surname.errors.minlength">Surname must be minimum 4 characters</div>
          <div *ngIf="surname.errors.maxlength">Surname must be maximum 25 characters</div>
        </div>
      </div>

      <!--Footer-->
        <div id="formFooter">
          <input type="submit" class="fadeIn sixth" value="Sign Up">
          <input type="submit" [routerLinkActive]='["link-active"]' [routerLink]='["/login"]' class="fadeIn sixth" value="Sign In">
        </div>

    </form>

  </div>
</div>

